@model PartyInvites.Models.GuestResponse
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/Styles.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>RsvpForm</title>
</head>
<body>
    <form asp-action="RsvpForm" method="post">
        <div asp-validation-summary="All"></div>
        <p>
            <label asp-for="Name">Your name:</label>
            <input class="form-control" asp-for="Name" />
        </p>
        <p>
            <label asp-for="Email">Your email:</label>
            <input class="form-control" asp-for="Email" />
        </p>
        <p>
            <label asp-for="Phone">Your phone:</label>
            <input class="form-control" asp-for="Phone" />
        </p>
        <p>
            <label>Will you attend?</label>
            <select class="form-control" asp-for="WillAttend">
                <option value="">Choose an option</option>
                <option value="true">Yes, I’ll be there</option>
                <option value="false">No, I can’t come</option>
            </select>
        </p>
        <p>
            <button type="submit">Submit RSVP</button>
    </form>
</body>
</html>